/*-------------------COLORS-----------------------*/
$main-fill:#FFFFFF;
$circle-c-1:#3A4151;
$circle-c-2:#FDB65A;
$circle-c-3:#FB5253;
$btn-color:#FD5353;
/*-------------------FONT-COLORS------------------*/
$f-main-color:#1E1C24;
$f-gray-color:#B1AAAA;
$f-fam:'Roboto', sans-serif;
/*-------------------FONT-SIZES-------------------*/
$f-logo-s:pxToRem(22);
$f-title:pxToRem(50);
$f-subtitle:pxToRem(30);
$f-btn:pxToRem(20);
$f-text:pxToRem(12);
/*-------------------FONT-WEIGHTS-----------------*/
$f-light:300;
$f-md-light:400;
$f-md:500;
$f-bold:900;