.article{
    @include createFlex(row,space-between,flex-start,wrap);
    &__left-group{
        width: 50%;
        position: relative;
        top:0px;
        left:0px;
        &:after{
            content:'';
            position:absolute;
            left:-500px;
            top:-100px;
            z-index: -1;
            width: 700px;
            height: 700px;
            background-image: url('../../../../assets/line.svg');
            background-size: cover;
            transform: rotate(250deg);
            
        }
        &:before{
            content:'';
            position:absolute;
            left:-450px;
            top:350px;
            width: 700px;
            height: 700px;
            background-image: url('../../../../assets/elipse.svg');
            background-size: cover;
        }
    }
    &__svg-wrapper{
        width: 100%;
        position: absolute;
        top:0px;
        left:0px;
        &:first-of-type{
            // gsap to -150px
            left:-705px;
            opacity: 0.5;
            svg{
                width: 120%;
            }
        }
        &:last-of-type{
            // gsap to 250px
            opacity:0.5;
            left:-100px;
            top:350px;
            z-index: 2;
            svg{
                width: 150%;
            }
        }
    }
    &__right-group{
        width: 50%;
        height: 800px;
        @include createFlex(column,center,flex-start,null);
        h2{
            position: relative;
            // gasp -5px
            left:1000px;
            top:0px;
        }
        p{
            position: relative;
            // gasp -5px
            left:1000px;
            top:0px;
        }
        button{
            position: relative;
            // gasp -5px
            left:1000px;
            top:0px;
            border:0px;
            background: transparent;
            i{
                margin-left: 5px;
            }
        }
    }
}